In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile

pd.pandas.set_option("display.max_columns",None)

In [2]:
#importing the dataset
crop=pd.read_excel("dataset3.xlsx")

In [3]:
crop

,Crop,Sowing Time,Region,Min Temp,Max Temp,Soil pH,Soil Type,Min Rainfall,Max Rainfall
0,bajra,june,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
1,bajra,july,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
2,bajra,january,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
3,bajra,february,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
4,bajra,march,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
...,...,...,...,...,...,...,...,...,...
4919,turnip,july,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4920,turnip,august,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4921,turnip,september,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4922,turnip,october,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4923,turnip,november,tamil nadu,10,15,5.5,loamy soil,200.0,400.0

In [4]:
crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4924 entries, 0 to 4923
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Crop          4924 non-null   object
 1   Sowing Time   4924 non-null   object
 2   Region        4924 non-null   object
 3   Min Temp      4924 non-null   int64
 4   Max Temp      4924 non-null   int64
 5   Soil pH       4924 non-null   float64
 6   Soil Type     4924 non-null   object
 7   Min Rainfall  4924 non-null   float64
 8   Max Rainfall  4924 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 346.3+ KB

In [5]:
crop.describe()

          Min Temp     Max Temp      Soil pH  Min Rainfall  Max Rainfall
count  4924.000000  4924.000000  4924.000000   4924.000000   4924.000000
mean     17.129366    30.578798     6.161582     67.698863    122.142161
std       7.359581     6.117484     0.551842     41.929247     77.965614
min     -11.000000    12.000000     4.500000      0.000000      0.000000
25%      15.000000    28.000000     5.800000     40.000000     75.000000
50%      18.000000    30.000000     6.200000     60.000000    100.000000
75%      21.000000    35.000000     6.500000     95.000000    150.000000
max      49.000000    70.000000     7.750000    250.000000    400.000000

In [6]:
crop.isnull().sum()

Crop            0
Sowing Time     0
Region          0
Min Temp        0
Max Temp        0
Soil pH         0
Soil Type       0
Min Rainfall    0
Max Rainfall    0
dtype: int64

In [7]:
crop['Sowing Time'].unique()

array(['june', 'july', 'january', 'february', 'march', 'august',
       'september', 'october', 'november', 'december', 'april', 'may',
       'yearlong'], dtype=object)

In [33]:
crop['Crop'].unique()

array(['bajra', 'barley', 'blackeyedbeans', 'blackgram', 'horsegram',
       'jowar', 'kidneybeans', 'lentil', 'maize', 'mungbean', 'oat',
       'ragi', 'redgram', 'rice', 'wheat', 'cotton', 'jute', 'castor',
       'sugarcane', 'lily', 'lotus', 'jasmine', 'petunia', 'rose',
       'safflower', 'sunflower', 'zennia', 'peach', 'apple', 'apricot',
       'avocado', 'banana', 'barbadoscherry', 'cashew', 'cherry',
       'chikoo', 'cucumber', 'custardapple', 'datepalm', 'dragonfruit',
       'fig', 'grapes', 'guava', 'jackfruit', 'karonda', 'kiwi', 'lemon',
       'mangoes', 'muskmelon', 'olive', 'oranges', 'papaya',
       'passionfruit', 'pear', 'pineapple', 'pistachio', 'plum',
       'pumpkin', 'pomegranate', 'raspberry', 'strawberry', 'sweetlime',
       'watermelon', 'aloevera', 'anola', 'asparagus', 'bhumiamalaki',
       'dillseed', 'fennel', 'indianbael', 'mint', 'ashwagandha', 'tulsi',
       'waterhyssop', 'coffee', 'groundnut', 'mustard', 'sesame',
       'soybean', 'betelvine', 'phalsa', 'tea', 'aniseed', 'cardamom',
       'chillies', 'cinnamon', 'clove', 'ginger', 'nutmeg', 'pepper',
       'turmeric', 'currytree', 'coconut', 'rubber', 'sago', 'tamarind',
       'beetroot', 'bittergourd', 'bottlegourd', 'broccoli', 'cabbage',
       'capsicum', 'carrot', 'cauliflower', 'celery', 'coriander',
       'drumstick', 'eggplant', 'kale', 'ladyfinger', 'mushroom',
       'redonion', 'yellowonion', 'whiteonion', 'pea', 'pigeonpea',
       'potato', 'radish', 'rapeseed', 'snakegourd', 'spinach',
       'zucchini', 'sweetpotato', 'tomatoes', 'turnip'], dtype=object)

In [9]:
crop['Region'].unique()

array(['andhra pradesh', 'gujrat', 'haryana', 'karnataka',
       'madhya pradesh', 'maharashtra', 'odisha', 'rajasthan',
       'uttar pradesh', 'tamil nadu', 'punjab', 'delhi', 'west bengal',
       'bihar', 'jammu kashmir', 'uttarakhand', 'himachal pradesh',
       'north india', 'assam', 'kerala', 'chhattisgarh', 'jharkhand',
       'telangana', 'tripura', 'chattisgarh', 'manipur', 'hyderabad',
       'arunachal pradesh', 'goa', 'meghalaya', 'mizoram', 'nagaland',
       'sikkim', 'andaman nicobar', 'chandigarh', 'dadra nagar haveli',
       'daman diu', 'lakshadweep', 'puducherry', 'hilly areas',
       'nilgiris', 'wynad', 'kodaikanal', 'shevaroys', 'coorg', 'malabar',
       'ladakh'], dtype=object)

In [10]:
crop['Soil Type'].unique()

array(['black cotton soil', 'loamy soil', 'red soil', 'laterite soil',
       'sandy soil', 'clay soil', 'alluvial soil',
       'well-drained deep soil', 'deltaic soil', 'slightly acidic soil'],
      dtype=object)

In [11]:
#one hot encoding for categorical variables
sowing_time=pd.get_dummies(crop['Sowing Time'],drop_first=True)
region=pd.get_dummies(crop['Region'],drop_first=True)
soil_type=pd.get_dummies(crop['Soil Type'],drop_first=True)

In [12]:
#copying the dataset to new dataset
crop_new=crop.copy()

In [13]:
crop_new

,Crop,Sowing Time,Region,Min Temp,Max Temp,Soil pH,Soil Type,Min Rainfall,Max Rainfall
0,bajra,june,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
1,bajra,july,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
2,bajra,january,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
3,bajra,february,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
4,bajra,march,andhra pradesh,20,31,6.0,black cotton soil,25.0,60.0
...,...,...,...,...,...,...,...,...,...
4919,turnip,july,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4920,turnip,august,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4921,turnip,september,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4922,turnip,october,tamil nadu,10,15,5.5,loamy soil,200.0,400.0
4923,turnip,november,tamil nadu,10,15,5.5,loamy soil,200.0,400.0

In [14]:
crop_new.drop(['Sowing Time','Region','Soil Type'],axis=1,inplace=True)
crop_new

        Crop  Min Temp  Max Temp  Soil pH  Min Rainfall  Max Rainfall
0      bajra        20        31      6.0          25.0          60.0
1      bajra        20        31      6.0          25.0          60.0
2      bajra        20        31      6.0          25.0          60.0
3      bajra        20        31      6.0          25.0          60.0
4      bajra        20        31      6.0          25.0          60.0
...      ...       ...       ...      ...           ...           ...
4919  turnip        10        15      5.5         200.0         400.0
4920  turnip        10        15      5.5         200.0         400.0
4921  turnip        10        15      5.5         200.0         400.0
4922  turnip        10        15      5.5         200.0         400.0
4923  turnip        10        15      5.5         200.0         400.0

[4924 rows x 6 columns]

In [15]:
crop_new=pd.concat([crop_new,sowing_time,region,soil_type],axis=1)

In [16]:
crop_new

,Crop,Min Temp,Max Temp,Soil pH,Min Rainfall,Max Rainfall,august,december,february,january,july,june,march,may,november,october,september,yearlong,andhra pradesh,arunachal pradesh,assam,bihar,chandigarh,chattisgarh,chhattisgarh,coorg,dadra nagar haveli,daman diu,delhi,goa,gujrat,haryana,hilly areas,himachal pradesh,hyderabad,jammu kashmir,jharkhand,karnataka,kerala,kodaikanal,ladakh,lakshadweep,madhya pradesh,maharashtra,malabar,manipur,meghalaya,mizoram,nagaland,nilgiris,north india,odisha,puducherry,punjab,rajasthan,shevaroys,sikkim,tamil nadu,telangana,tripura,uttar pradesh,uttarakhand,west bengal,wynad,black cotton soil,clay soil,deltaic soil,laterite soil,loamy soil,red soil,sandy soil,slightly acidic soil,well-drained deep soil
0,bajra,20,31,6.0,25.0,60.0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,bajra,20,31,6.0,25.0,60.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,bajra,20,31,6.0,25.0,60.0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,bajra,20,31,6.0,25.0,60.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,bajra,20,31,6.0,25.0,60.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4919,turnip,10,15,5.5,200.0,400.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4920,turnip,10,15,5.5,200.0,400.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4921,turnip,10,15,5.5,200.0,400.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4922,turnip,10,15,5.5,200.0,400.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4923,turnip,10,15,5.5,200.0,400.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [17]:
crop_new.to_csv('Agriculture_dsc')

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
from sklearn.model_selection import train_test_split

X=crop_new.drop("Crop",axis=1)
y=crop_new['Crop']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=101)

In [20]:
rc=RandomForestClassifier(n_estimators=100)
rc.fit(X_train,y_train)
crop_pred=rc.predict(X_test)

In [21]:
crop_pred

array(['carrot', 'chillies', 'ginger', ..., 'oranges', 'eggplant',
       'bottlegourd'], dtype=object)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
print("Accuracy Score: ",accuracy_score(y_test,crop_pred))

Accuracy Score:  0.983085250338295